:root{
    --cor-site: #73534C;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.maxWidth{
    max-width: 90em;
}

.header{
    text-align: center;
    margin: auto;
}

.logo{
    width: 9em;
    height: 100%;
    margin: 1em;
}

.header_nav{
    background-color: var(--cor-site);
}

ul{
    margin: 0;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover{
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 15%);
}

@media screen and (min-width:48em){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        margin-left: 2em;
    }

    .header_nav{
        background-color: initial;
    }

    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li{
        display: inline-block;
    }

    .header_nav a{
        color: var(--cor-site);
        border-radius: 5px;
    }

    .header_nav a:hover{
        background-color: color-mix(in srgb, var(--cor-site), #ffffff 80%);
    }
}

.trailer{
    background-color: #F2D5C4;
    padding-bottom: 1.5em 1em auto 1em;
    line-height: 1.5em;
}

.trailer div{
    text-align: center;
    margin: auto;
    width: 80%;
    padding-bottom: 1em;
}

.trailer_title{ 
    margin-top: 0;
    padding-top: .8em;
    color: var(--cor-site);
}

.trailer_title h1{
    font-size: 2em;
    margin-bottom: 1em;
}

.trailer_paragrafo{
    font-size: 1.1em;
}

.trailer_botao{
    display: inline-block;
    margin-top: 1em;
    padding: 1em 1em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
}

.trailer_botao:hover{
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

@media screen and (min-width:48em){
    .trailer{
    background-image: url(Imagens/Fundo.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: initial;
    }

    .trailer_paragrafo{
        margin-bottom: 2em;
    }
}

.main_content{
    background-color: #F2BC79;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.main_content div{
    margin: auto;
    padding: 1em;
    width: 80%;
}

.main_content_title{
    color: var(--cor-site);
}

.icon_img{
    width: 5.5em;
}

.icon_img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.col{
    flex: 1 0 auto;
    width: 100%;
}

.col-12{
    width: 100%;
}

@media screen and (min-width:48em){
    .col-6{
        width: calc(50% - 2rem);
    }
}

footer{
    background-color: var(--cor-site);
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

.fonte{
    font-family: 'Bigelow Rules', cursive;
    font-size: 2em;
}


/* configurações do trailer Video*/
.trailer_video{
    display: none;
}

@media screen and (min-width: 48em){
    .trailer_botao{
        display: none;
    }

    .trailer_video {
        display: block;
    }

    .trailer_video .tamanho{
        border-radius: .8em;
        margin-bottom: 1em;
    }
}

.trailer_botao_article{
    display: inline-block;
    margin-top: 1em;
    padding: 1em 1em;
    background-color: var(--cor-site);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
}

.trailer_botao_article:hover{
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

